@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

.col-custom {
    @extend .bg-warning;

    &:hover {
        @extend .bg-danger;
    }
}

.loginContainer {
    margin-top: 10%;
    height: 50vh;
}

.publishbutton {
    float: right;
}

.container-center {
}

.publishtext {height: 150px;} yo



